.btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 0;
  font-size: 18px;
  line-height: 22px;
  color: rgba(255, 255, 255, .6);
  cursor: pointer;
  transition: color .2s;

  svg {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    opacity: .4;
    transition: opacity .2s;
  }

  &:hover {
    color: rgba(255, 255, 255, 1);

    svg {
      opacity: 1;
    }
  }
}

@media (max-width: 520px) {
  .btn {
    font-size: 14px;
    line-height: 16px;
  }
}


@media (max-width: 350px) {
  .btn svg {
    width: 20px;
    height: 20px;
    margin-right: 4px;
  }
}
