@import "~normalize.css/normalize.css";

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

ul, li {
    list-style: none;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    background: #498CEC;
    color: #fff;
}

.container {
    padding: 75px 15px 120px;
    max-width: 1162px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 800px;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    flex-wrap: wrap;
}

@media (max-width: 1000px) {
    body {
        font-size: 20px;
        line-height: 24px;
    }
}

@media (max-width: 860px) {
    body {
        font-size: 16px;
        line-height: 20px;
    }
}

@media (max-width: 600px) {
    .container {
        padding: 30px 15px;
    }
}

@media (max-width: 440px) {
    .header {
        flex-wrap: wrap;
    }
}
