.wrapper {
    display: flex;
    padding-left: 15px;
    position: relative;
}

.wrapper:before {
    content: 'º';
    position: absolute;
    left: 0;
    top: 3px;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    opacity: 0.4;
}

.input {
    display: none;
}

.fake {
    display: flex;
    cursor: pointer;
    padding: 4px 14px;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    font-size: 18px;
    line-height: 22px;
    color: rgba(255, 255, 255, .4);
}

.label:first-child .fake {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-left: 1px solid #FFFFFF;
}

.label:last-child .fake {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-right: 1px solid #FFFFFF;
}

.input:checked ~ .fake {
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.input:checked ~ .fake,
.label:first-child .input:checked ~ .fake,
.label:last-child .input:checked ~ .fake {
    border-color: rgba(255, 255, 255, .4);
}

@media (max-width: 600px) {
    .wrapper {
        margin-top: 20px;
    }
}
